/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

@import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("stroke-shadow.css");
@import url("experiments.css");
@import url("style-guide.css");
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/ava-cursor.png"), auto !important;
  /* TODO: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "DM Mono", sans-serif;
  --heading-typeface: "Unbounded", sans-serif;
  --project-title-typeface: "Unbounded", sans-serif;
  --background-color: #0D0813;
  --background-color-about: #0D0813;
  --background-color-footer: #ED1E79;
  --alt-background-color: #0D0813;
  --background-color-holding-page: #0D0813;
  --h1-color: #fff;
  --h2-color: #ffffff;
  --h3-color: #FF97C5;
  --h4-color: #ffffff;
  --h5-color: #ffffff;
  --h6-color: #ffffff;
  --primary-text-color: #fff;
  --holding-page-title-color: #ebedf0;
  --accent-color: #ED1E79;
  --overlay-color: #ED1E79;
  --overlay-title-color: #ffffff;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #ffffff;
  --hyperlink-alternate-color: rgb(255, 0, 170);
  --hover-color: #FF97C5;
  --visited-color: #ffffff;
  --project-title-color: #ffffff;
  --project-sidebar-background-color: transparent(0, 0, 0);
  --project-sidebar-text-color: white;
  --heart-color: #000000;
  --holding-page-footer-color: #FF97C5;
  --text-selection-background-color: #ED1E79;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
      margin: 0;
    padding: 0;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--heading-typeface);
  margin-bottom: .25rem;
  color: var(--h1-color);
}

h2 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-size: 1.55rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}


.hero-headline {
  color: var(--overlay-color);
}

.hero-ava-name {
  font-size: 4rem 
}

.hero-subhead {
  font-size: 2.725rem;
  color: #ffffff
}

.project-title {
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}



.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description {
  font-family: "Epilogue", light, sans-serif;
  font-weight: 300;
  font-size: 1.225rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.resume-description {
  font-family: "Epilogue", light, sans-serif;
  font-weight: 300;
  font-size: 1.225rem;
  line-height: .95;
  margin-bottom: 1rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding-left: 3rem;
  align-items: center;
    min-width: 100px;
}

.header-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
  align-items: center;
}

.header-navigation li {
  position: relative;
  z-index: 1; /* Ensure the links are clickable */
}

.header-navigation a {
  z-index: 2;}

.custom-navigation {
  margin-left: 3rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

/* Image Frame */

/* Padding around work grid and project page */
.portfolio {
  display: flex; 
  
}


.project-wrapper {
  position: relative;
}


svg.logo-clip {
  position: relative;
  width: 100px; /* or whatever size you need */
  height: 100px; /* or whatever size you need */
}

.clipped-1 {
  clip-path: url(#right-side-up);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.clipped-2 {
  clip-path: url(#upside-down);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.clipped-3 {
  clip-path: url(#right-side-up);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.clipped-4 {
  clip-path: url(#upside-down);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.clipped-5 {
  clip-path: url(#right-side-up);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.clipped-6 {
  clip-path: url(#upside-down);
  aspect-ratio: 2.7 / 2;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: contain;
  transition: background .04s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(237, 30, 121, 1);
  mix-blend-mode: color; 
  opacity: 0; 
  transition: opacity 0.4s ease; 
} 

.clipped-1:hover .overlay,
.clipped-2:hover .overlay,
.clipped-3:hover .overlay,
.clipped-4:hover .overlay,
.clipped-5:hover .overlay,
.clipped-6:hover .overlay {
  opacity: 1;
}

.clipped-1 img,
.clipped-2 img,
.clipped-3 img,
.clipped-4 img,
.clipped-5 img,
.clipped-6 img {
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

/*
 * Tooltip.js styles
 */

.tooltip-js {
  position: absolute;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 999;
}

.tooltip-js.alt-tooltip {
  background: #000;
}

#tooltip {
 border: 5px solid #ED1E79;
  border-radius: 0px 30px 0px 30px; 
  position: absolute;
  background: #000;
  color: white;
  font-size: 1.2em;
  padding: 1em;
}

.work-wrapper {
display: flex;
flex-direction: column;
align-items: center;
}



/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0%;
   /* Adjust gap as needed */
}


  .work-page-grid-item-left {
    width: auto;
    height: auto;
    display: flex;
    margin-right: -7vw;
    margin-left: 6vw;
    
  }
  
 .work-page-grid-item-right {
  width: auto;
  height: auto;
  display: flex;
  margin-left: -7vw;
  margin-right: 6vw;
 }

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.resume-title {
color: white;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  flex: 1;
  grid-template-columns: 1fr 1fr;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-right: 2rem;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}


/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  align-items: center;
  margin: 0;
  background: var(--background-color-footer);
}

.footer-item-1 {
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.contact {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }


  
.linkedin-icon {
  padding: .25rem;
  position: relative;
  transition: opacity 1s ease-out;
}

.linkedin-icon .linkedin-hover {
  padding: .25rem;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.linkedin-icon:hover .linkedin-hover {
  opacity: 1;
  display: block;
  transition: all 350ms;
}

.behance-icon {
  padding: .25rem;
  position: relative;
  transition: opacity 1s ease-out;
}

.behance-icon .behance-hover {
  padding: .25rem;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  transition: 0.3s;
}

.behance-icon:hover .behance-hover {
  opacity: 1;
  display: block;
}

.instagram-icon {
  padding: .25rem;
  position: relative;
  transition: opacity 1s ease-out;
}

.instagram-icon .instagram-hover {
  padding: .25rem;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  transition: 0.3s;
}

.instagram-icon:hover .instagram-hover  {
  opacity: 1;
  display: block;
}

.email-icon {
  padding: .25rem;
  position: relative;
  transition: opacity 1s ease-out;
}

.email-icon .email-hover {
  padding: .25rem;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  transition: 0.3s;
}

.email-icon:hover .email-hover  {
  opacity: 1;
  display: block;
}

.copyright {
  text-align: center;
  color:#000;
  font-size: 0.875rem;
  margin: 0; /* Remove margin */
  padding: 1rem 0; /* Adjust padding */
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem; /* Adjust this value to your liking */
  padding: 0; /* Ensure there's no padding */
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: -20rem;
  display: flex;
  flex-direction: column;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  justify-content: space-between;
}

.arrow-left,
.arrow-right {
  fill: #ED1E79; /* Set initial color */
  padding: 1rem;
  transition: fill 0.3s; /* Ensure smooth transition */
}


.arrow-left:hover, 
.arrow-right:hover {
  fill: #FF97C5; /* Change on hover */
}


.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-emoji-placeholder {
  font-size: 12rem;
  /* TODO: Delete this rule. It is only used for making the placeholder emojis large for demo purposes only. */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 3rem;
  /* TODO: Delete background-image and the three linear gradient colors to remove the gradient background on the project page. Be careful not to delete the closing } */
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* TODO: Delete the following if you do not want a grainy gradient background on index.html. Be careful not to delete the closing } */
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), var(--background-color-holding-page)), url(/assets/temp/noise.svg);
  /* For more on grainy gradients see https://grainy-gradients.vercel.app/ */
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 1.5rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */



/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */


@media (min-width: 768px) {
  /* TODO: Add styles here for medium devices. */
}

.about-item-1 {

      grid-row: 1 / 2;
      padding-left: 0rem;
    
}

.about-item-2 {
  grid-row: 2 / 3;

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  .holding-page-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.55rem;
  }

  .logo {
    width: 5rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }

  .hero {
    min-height: 100vh;
  }

  .hero-headline-wrapper {
    padding: 2.5rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: -30rem;
    position: relative;
    display: flex;
  grid-template-columns: repeat(3, 1fr); /* Change to 3 columns for smaller images */
  grid-gap: 1rem;
  }


  .about {
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    padding: 4rem 4rem 0 4rem;

  }

 
  .global-footer {
  align-items: center;
  background: var(--background-color-footer);
  }

  .about-item-1 {
    grid-column: 1 / 2;
        grid-row: 1 / 2;
      
  }

.about-image {
  padding-top: 1rem;
  max-width: 50rem;
}
  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  /* Padding around work grid and project page */
  .portfolio-top-row,
  .portfolio-bottom-row
  .project-wrapper {
    padding: 0.5rem;
  }

  .portfolio-bottom-row {
    margin-top: -4vw;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }


  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .about-item-1 {
    grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-left: 0rem;
      
  }

  .about-item-2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    padding-top: 2rem;
    min-width: 39rem;
    padding-right: 5rem;

}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* TODO: Add styles here for XX-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
}